################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LabJJ2/.vs/LabJJ2/v15/Server/sqlite3/db.lock
